* {
  padding: 0;
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-image: url("../public/images/back.png");
}

.app::-webkit-scrollbar {
  display: none;
}

.intro {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #080710; */
}

.main-card {
  width: 70%;
  height: 75%;
}

.main-card-root {
  width: 100%;
  height: 95%;
  padding-top: 1em;
  display: flex;
}

.main-card-root-left-pane {
  /* background-color: burlywood; */
  width: 30%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  position: relative;
  gap: 2px;
}

.main-card-root-right-pane {
  /* background-color: burlywood; */
  width: 70%;
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8em;
  position: relative;
  gap: 20px;
}
.contact-info {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  z-index: -999;
}

.project-list {
  overflow: scroll;
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-list::-webkit-scrollbar {
  display: none;
}

.nav-link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.education-timeline-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.education-timeline-container::-webkit-scrollbar {
  display: none;
}
.main-card-root-right-pane-main-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
